/**
	* Portfolio
	*/

.portfolio-sample	{
	display: flex;
	flex-wrap: wrap;
}

.portfolio-sample__item-wrapper {
	background: white;
	border: 1px solid #ccc;
	width: 25%;
	padding: 6px;
	@media (max-width: $mobile) {
		width: 50%;
	}
}

.portfolio-sample__item {
	height: 0;
	padding-bottom: 75%;
	width: 100%;
	background: grey;
}

.portfolio-sample__more {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	text-align: center;
}
