/**
  * Header
  */

.logo {
	max-width: 260px;
	display: flex;

	img {
		height: 100%;
		width: 100%;
	}
}


.header {
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.13);
}

.header__inner {
	padding: 9px 0;
	background: white;
}

.header__row {
	align-items: center;

	@media (max-width: $tablet) {
		align-items: center;
	}
}
