/**
  * Header
  */

.logo {
	max-width: 260px;
	display: flex;
	transition: 0s;
	@media (max-width: $tablet) {
		max-width: 150px;
	}

	.is-scrolled & {
		@media (min-width: $desktop) {
			max-width: 150px;
			transition: 0.4s;
		}
	}

	img {
		height: 100%;
		width: 100%;
	}
}


.header {
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.13);
	top: 0;
	left: 0;
	width: 100%;
	background: white;
	z-index: 100;
	@media (min-width: $desktop) {
		position: absolute;
	}

	&.is-scrolled {
		@media (min-width: $desktop) {
			position: fixed;
		}
	}
}

.header__inner {
	padding: 9px 0;
	background: white;
}

.header__row {
	align-items: center;

	@media (max-width: $tablet) {
		align-items: center;
	}
}
